#header{
	background:#871212 repeat-x;
	height:auto;
	overflow:hidden;
	position:relative;
}
#header div#section{
	height:145px;
	margin-left: 3em!important;
}
#header div#section div{
	float:left;
	margin-top:48px;
}
#header div#section div a{
	display:block;
}
#header div#section span{
	color:#ACBCC9;
	margin:0;
	padding-right:20px;
	padding-top:45px;
	text-align:right;
	width:100%;
}
#header ul{
	list-style:none;
	margin:2px auto 0;
	padding:0;
	width:935px;
}
#header ul li{
	float:left;
	padding-right:5px;
}
#header ul li a{
	color:white;
	display:block;
	font-size:14px;
	height:43px;
	line-height:37px;
	padding:0 23px;
	text-align:center;
	text-decoration:none;
	
}
#header ul li.current, #header ul li:hover{
	height:43px;
}
#header ul li.current a{
	color:white;
}
#header ul li a:hover{
	background:green repeat-x;
}
.requestinformation {
  
   margin-top: 10em;
   margin-left: 1em;
   font-size: 0.9em;
   width:15em;
   padding-bottom: 1em;
}
.div1{
	width:50em;
	padding-left: 1em!important;
}
.div2{
	width:50em;
    float:right;
}